<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:p="http://www.springframework.org/schema/p"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name="st1" class="com.dependency.collection.Student">
    
    <property name="name" value="Suraj"/>
    
    <property name="address">
    
    
    <list>
      <value>BBSR</value>
      <value>Cuttuck</value>
    
    </list>
    
    </property>
    
    
    <property name="phno">
      <set>
      <value>152</value>
      <value>736</value>
      
      </set>
    
    
    
    </property>
    
    <property name="course">
      <map>
      
      <entry key="Java" value="2Month"></entry>
       <entry key="Hibernate" value="3Month"></entry>
      
      
      
      </map>
    
    
    
    </property>
    
    
    
    
    
    
    
    
    </bean>
    
    
    

</beans>